<form ng-submit="submit()" class="quantitySelector">
  <input type="text" name="quantity" ng-required="true" ng-trim="true" ng-pattern="onlyNumbers" ng-model="vm.quantity" />
  <a ng-click="submit()">
    <i class="text-success fa fa-check"></i>
  </a>
</form>