<div>
    <h1>DASHBOARD</h1>
    <p>{{vm.helloWorld}}</p>

    <h1>FORM SAMPLE DIRECTIVE</h1>
    <form name="editForm">
        <div>
            <label>Email</label>
            <input type="text" name="email"
                   ng-model="vm.customer.email"
                   minlength="3"
                   required
                   data-nib-unique-key="{{vm.customer.id}}"
                   data-nib-unique-property="email"
                   nib-unique />

            <div ng-messages="editForm.email.$error" role="alert">
                <div ng-message="required">You did not enter a field</div>
                <div ng-message="minlength">
                    Your email must be more than 3 characters long
                </div>
                <div ng-message="unique">
                    Field is not unique.
                </div>
            </div>
        </div>

        <div>
            <label>Number</label>
            <input type="text" name="number"
                   ng-model="vm.customer.number"
                   ng-model-options="{ updateOn: 'blur' }"
                   required
                   nib-validator="number" />

            <div ng-messages="editForm.number.$error" role="alert">
                <div ng-message="format">Invalid format.</div>
            </div>
        </div>

        <div>
            <label>Quantity</label>
            <nib-quantity-selector quantity="10"></nib-quantity-selector>
        </div>

        <input type="submit" />
    </form>
</div>